th {
    padding: 10px;
}

table {
    text-align: center;
}

.table-responsive {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

table tr td {
    vertical-align: middle !important;
}
